@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Custom Scrollbar - Standard CSS */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  /* bg-dark */
}

::-webkit-scrollbar-thumb {
  background: #334155;
  /* slate-700 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
  /* slate-600 */
}